@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
}

h1#titulo {
    color: black;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: rgb(114, 114, 114);
}