@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(20, 20, 20);
    padding: 50px;
}

header h1 {
    color: white;
    font-family: 'Passion One', sans-serif;
    font-size: 10vw;
    font-variant: small-caps;
    text-align: center;
}

header p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: 'Sriracha', cursive;
    font-size: 4vw;
    padding: 40px;
}

section#foto-1 {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 5px 5px 5px inset rgba(0, 0, 0, 0.308);
}

section#foto-1 p {
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
}

section#foto-2 {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 5px 5px 5px inset rgba(0, 0, 0, 0.308);
}

section#foto-2 p {
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
}

footer {
    color: white;
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}