@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #7839F4;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 620px;
    width: 250px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#image {
    display: block;
    text-align: center;
}

div#image img {
    width: 150px;
}

div#formulario {
    display: block;
}

main h1 {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

main p {
    margin-bottom: 10px;
}

#icons {
    font-size: 2em;
    padding-top: 3px;
}

.campos input{
    height: 100%;
    width: calc(100% - 37px);
    transform: translateY(-11px);
    border: 1px solid #7839F4;
    border-radius: 8px;
    padding: 4px;
}

p#email {
    background-color: #7839F4;
    color: white;
    border-radius: 8px;
    height: 40px;

}

p#password {
    background-color: #7839F4;
    color: white;
    border-radius: 8px;
    height: 40px;
    margin-bottom: 30px;
}


p#bottons input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #7839F4;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
}

p#bottons input:hover {
    background-color: #46C9F9;
}

p#bottons input#forgot {
    background-color: white;
    color: #7839F4;
    border: 1px solid;
}

p#bottons input#forgot:hover {
    background-color: white;
    color: #46C9F9;
}